<!-- message_board.ejs for showing Dojo Message Board -->
<html>
<head>
 <title>Dojo Message Board</title>
 <script>
     document.getElementById("timestamp").innerHTML = Date();
 </script>
</head>
<body>

    <h2>The Dojo Message Board</h2>
        <p id="timestamp"></p>
        <hr>
        <h3>Add a Post</h3>
        <form action='/posts/new' method='post'>
            Your Name: <input type='text' name='name'><br>
            Message: <input type='text' name='Message' style="width=500px height=300px"><br>
            <input type='submit' value='Post the Message' style="float:right">
        </form>
        <hr>
        <h3>Latest Posts</h3>
        <div id= "data">
            <%for(each in posts) { %>
                Name: <%= posts[each].name %><br>
                Message:
                <%= posts[each].message %><br>
                <%for(each2 in posts.comments) { %>
                    Name: <%= posts[each].comment[each2] %>
                    Comment: <%= posts[each].comment[each2] %>
                <% } %>
                <form action='/posts/comment' method='post'>
                    Your Name: <input type='text' name='name'><br>
                    Comment: <input type='text' name='Comment' style="width=500px height=300px"><br>
                    <input type='submit' value='Post the Comment' style="float:right">
                </form>
                <hr>
            <% } %>
        </div>

</body>
</html>
